@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");
@import url("observablehq:theme-alt.css");
@import url("observablehq:theme-wide.css");

#observablehq-main {
  min-height: calc(100vh - 15rem);
}

#observablehq-footer {
  margin: 1rem auto;
}

#observablehq-footer nav {
  max-width: none;
}
