@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  font-size: 18px;
  text-align: center;
}

.hero h1 {
  margin: 2rem 0;
  max-width: none;
  font-size: 14vw;
  font-weight: 900;
  line-height: 1;
  background: linear-gradient(
    30deg,
    var(--theme-foreground-focus),
    currentColor
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero h2 {
  margin: 0;
  max-width: 34em;
  font-size: 3vw;
  font-style: initial;
  font-weight: 500;
  line-height: 1.5;
  color: var(--theme-foreground-muted);
}

.hero p {
  max-width: none;
  text-align: justify;
}

@media (min-width: 640px) {
  .hero h1 {
    font-size: 90px;
  }
}

.img-container {
  text-align: center;
}

.img-container img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
